<% include partials/header %>

<div class="row">
    <div class="userForm">
        <form class="form-signin" action="/register" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
            <label for="username" class="sr-only">Username</label>
            <input class="form-control beginning" type="text" name="username" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input class="form-control middle" type="password" name="password" placeholder="Password" required>
            <label for="firstName" class="sr-only">First Name</label>
            <input class="form-control middle" type="text" name="firstName" placeholder="First Name" required>
            <label for="lastName" class="sr-only">Last Name</label>
            <input class="form-control middle" type="text" name="lastName" placeholder="Last Name" required>
            <label for="email" class="sr-only">Email Address</label>
            <input class="form-control middle" type="email" name="email" placeholder="Email Address" required>
            <label for="avatar" class="sr-only">User Avatar URL</label>
            <input class="form-control middle" type="text" name="avatar" placeholder="Avatar URL" required>
            <label for="adminCode" class="sr-only">Secret Code (If you have one)</label>
            <input class="form-control end" type="text" name="adminCode" placeholder="Secret Code">
            <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
        </form>
        <div class="form-signin" id="">
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<% include partials/footer %>