.thumbnail {
	padding: 0;
}

.thumbnail img {
	width: 100%;
}

.thumbnail .caption-full {
	padding: 9px;
}

.deleteForm {
	display: inline;
}

.userForm {
	width: 30%; 
	margin: 25px auto;
}

#map {
	height: 400px;
	width: 100%;
}